@model WebDangKyMonHoc.Models.ChiTietChuongTrinhHoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChiTietChuongTrinhHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChuongTrinhHoc.MaKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuongTrinhHoc.MaKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonHoc.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc.TenMH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idChiTietCTH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
